- if (message)
p #{message}
form(action='/answer/#{wordToTranslate}', method='post')
    label Word to translate: #{wordToTranslate}
    br
    label Answer
        input(type='text', name='answer')
    input(type='submit', value='Submit')
