h1= title
form(action='/login', method='post')
    label User name
        input(name='username')
    label Password
        input(type='password', name='password')
    input(type='submit', value='Login')
